<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      観光地データ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToRandomSight()">
        <ion-icon slot="icon-only" name="shuffle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header *ngIf="!isIos()">
    <ion-toolbar>
      <app-search-sights></app-search-sights>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">観光地データ</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <app-search-sights></app-search-sights>
  </ion-toolbar>
  </ion-header>

  <div id="container"  >
    <ng-container *ngIf="sights$ | async as sights; else listSightsSkeleton">
      <ion-list>
        <app-list-sight-item
          *ngFor="let sight of sights"
          [sight]='sight'
          >
        </app-list-sight-item>
      </ion-list>

    </ng-container>
    <ng-template #listSightsSkeleton>
      <app-list-item-skeleton></app-list-item-skeleton>
    </ng-template>
  </div>
</ion-content>

