<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>ホーム</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sights">
      <ion-icon name="location"></ion-icon>
      <ion-label>観光地</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="souvenir">
      <ion-icon name="gift"></ion-icon>
      <ion-label>お土産</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
      <ion-label>お気に入り</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plans">
      <ion-icon name="map"></ion-icon>
      <ion-label>プラン</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
