<ng-container *ngIf="plan">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="戻る" defaultHref="/plans"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ plan.name }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="renamePlan()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="addItem()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ plan.name }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!loading && planItems.length === 0" class="ion-padding ion-text-center">
      <ion-icon name="location-outline" size="large" color="medium"></ion-icon>
      <p>プランにスポットが追加されていません</p>
      <p><small>右上の「+」ボタンからスポットを追加できます</small></p>
    </div>

    <ion-list *ngIf="!loading && planItems.length > 0">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item-sliding *ngFor="let item of planItems; let i = index">
          <ion-item [routerLink]="getRouterLink(item)">
            <ion-icon
              slot="start"
              [name]="item.itemType === 'sight' ? 'location' : 'gift'"
              [color]="item.itemType === 'sight' ? 'primary' : 'secondary'">
            </ion-icon>
            <ion-label class="ion-text-wrap">
              <h2>{{ i + 1 }}. {{ item.name }}</h2>
              <p>{{ item.name_kana }}</p>
              <p class="ion-text-wrap">
                <small>{{ item.description.substring(0, 60) }}{{ item.description.length > 60 ? '...' : '' }}</small>
              </p>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeItem(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>

    <div class="ion-padding" *ngIf="!loading && planItems.length > 0">
      <p class="ion-text-center">
        <small>長押しでドラッグして順番を変更できます</small>
      </p>
    </div>
  </ion-content>
</ng-container>
